BPMService/WEB-INF/classes/com/cordys/rest/jaxws/soapclients/updatecasevariables.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://schemas.cordys.com/casemanagement/execution/1.0" xmlns:cordys="http://schemas.cordys.com/General/1.0/" name="UpdateCaseVariables" targetNamespace="http://schemas.cordys.com/casemanagement/execution/1.0">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.cordys.com/casemanagement/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.cordys.com/casemanagement/execution/1.0">
            <import namespace="http://schemas.cordys.com/General/1.0/" schemaLocation="CordysFaultDetails.xsd"/>
            <import namespace="http://schemas.cordys.com/casemanagement/1.0" schemaLocation="Casemanagement.xsd"/>
            <element name="UpdateCaseVariables">
                <complexType>
                    <all>
                        <element xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" name="case_instance_id"/>
                        <element name="case_data">
                            <complexType>
                                <sequence>
                                    <element name="data" minOccurs="1" maxOccurs="unbounded">
                                        <complexType>
                                            <sequence>
                                                <element ref="ns:casevariables"/>
                                            </sequence>
                                            <attribute xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" name="name"/>
                                        </complexType>
                                    </element>
                                </sequence>
                                <attribute xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" name="lockID"/>
                            </complexType>
                        </element>
                    </all>
                </complexType>
            </element>
            <element name="UpdateCaseVariablesResponse">
                <complexType>
                    <sequence>
                        <element xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" name="case_instance_id"/>
                        <element xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" name="current_state"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
	<wsdl:message name="CordysFaultDetail">
<wsdl:part name="FaultDetail" element="cordys:FaultDetails"/>
</wsdl:message>
    <wsdl:message name="UpdateCaseVariables">
        <wsdl:part element="tns:UpdateCaseVariables" name="body"/>
    </wsdl:message>
    <wsdl:message name="UpdateCaseVariablesResponse">
        <wsdl:part element="tns:UpdateCaseVariablesResponse" name="body"/>
    </wsdl:message>
    <wsdl:portType name="UpdateCaseVariablesPortType">
        <wsdl:operation name="UpdateCaseVariablesOperation">
            <wsdl:input message="tns:UpdateCaseVariables"/>
            <wsdl:output message="tns:UpdateCaseVariablesResponse"/>
            <wsdl:fault name="FaultDetail" message="tns:CordysFaultDetail"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpdateCaseVariablesBinding" type="tns:UpdateCaseVariablesPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateCaseVariablesOperation">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FaultDetail">
                <soap:fault name="FaultDetail" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpdateCaseVariablesService">
        <wsdl:port binding="tns:UpdateCaseVariablesBinding" name="UpdateCaseVariablesPort">
            <soap:address location="http://srv-ind-con3/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=system,cn=cordys,cn=defaultInst,o=vanenburg.com"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
